{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "proseWrap": "never",
  "arrowParens": "always",
  "bracketSameLine": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-packagejson"
  ],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/(?!.*\\.s?css$)",
    "^[./](?!.*\\.s?css$)",
    "^.+\\.s?css$",
    "^@/.*\\.s?css$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}