*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 16px; //rem
}

$text-color: #333;
$primary-color: #1677ff;
$primary-color-hover: #f5f5f5;
$primary-color-active: #e6f4ff;
$app-main-bg: #fafafa;
$nav-height: 48px;
$toolbar-height: 40px;
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;
$radius-2xl: 24px;

/* --- RootLayout --- */
.app-header {
  height: $nav-height;
  border-bottom: 2px solid red;
  // 垂直居中
  display: flex;
  align-items: center;
  padding: 0 1rem;

  // app-header-nav
  &-nav {
    display: flex;
    gap: 1rem;

    a {
      color: $text-color;
      text-decoration: none;
      padding: 0.25rem 0.75rem;
      // 内层圆角 = 外层圆角 - 它们之间的 Padding
      border-radius: $radius-md;
      transition: all 0.4s;

      &:hover {
        background-color: $primary-color-hover;
      }

      &.active {
        color: $primary-color;
        background-color: $primary-color-active;
      }
    }
  }
}

.app-main {
  height: calc(100vh - #{$nav-height});
  overflow: hidden;
  background-color: $app-main-bg;
}